.ImageDiv {
    /* Rectangle 105 */
    width: 130px;
    height: 130px;
    background: #F1EFEF;
    border-radius: 12px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    border-color: transparent !important;
}

@media screen and (max-device-width: 480px) {
    .ImageDiv {
        /* Rectangle 105 */
        width: 230px;
        height: 230px;
        background: #F1EFEF;
        border-radius: 12px;
        margin: 0;
        padding: 0
    }
}

.Image {
    border: none !important;
    outline: none !important;
    width: 100%;
    height: 100%;
    border-radius: 12px
}