.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding-top: 1rem !important;
  padding-bottom: 0 !important;
  margin: 0px !important;
  border-bottom: #FFA600 solid 2px;
  position: fixed;
  left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  /* top: 10px; */
  width: 99.5%;
  z-index: 1000;

  /* Background blur effect */
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.logo {
  display: block;
  max-width: 140px;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

.navList a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  border-bottom: none;
}

.navList a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFA600;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.navList a:hover::after,
.navList a:focus-visible::after {
  transform: scaleX(1);
}

.navList a:active {
  color: #ffffffcb;
}

/* Hamburger menu */
.menuToggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.logo {
  max-width: 90px;
  left: 0;
}

.menuToggle span {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

/* Mobile styles */
@media (max-width: 768px) {
  .menuToggle {
    display: flex;
    margin-right: 15px;
  }

  /* Default hidden state */
  .navList {
    display: none;
    align-items: center;
    width: 80%;
    margin-right: 5% !important;
    flex-direction: column;
    background-color: rgba(1, 1, 28, 0.784);
    padding: 1rem;
    position: absolute;
    top: 100px;
    right: 1.2rem;
    border-radius: 8px;
    overflow: hidden;
  }

  /* Open menu */
  .navList.open {
    display: flex;
    z-index: 1000;
    animation: slideIn 0.3s ease forwards;
  }

  /* Closing animation */
  .navList.closing {
    display: flex;
    z-index: 1000;
    animation: slideOut 0.3s ease backwards;
  }

  /* Slide-in animation */
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* Slide-out animation */
  @keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }

    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}