.navLinks {
  list-style: none;
  padding: 0 1rem;
  margin: 0;
  font-weight: 500;
  font-size: 1.1rem;
}

body {
  color: white !important;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow;
  }

  50% {
    text-shadow: 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
  }

  100% {
    text-shadow: 0 0 5px yellow, 0 0 10px yellow, 0 0 15px yellow;
  }
}

.glowText {
  color: yellow;
  text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
  animation: glow 1.5s ease-in-out infinite;
}